{% block main %}
<div class="row mb-3">
  <div class="col">
    <h1>Data Dosen</h1>
  </div>
</div>
<div class="row">
  <div class="col-xl-4 ml-auto mb-4 d-flex justify-content-end">
    <form action="/api/truncate-data" method="POST">
      {% csrf_token %}
      <button class="btn btn-sm btn-danger px-3 py-2 mr-3" name="data" value="DOSEN">
        <i class="bx bxs-trash mr-2"></i>Truncate Data
      </button>
    </form>
  
    <a href="/data-dosen/add" class="text-white btn btn-sm btn-primary py-2">
      <i class="bx bxs-user-plus mr-2"></i>Insert Data
    </a>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card p-4">
      <div class="row">
        <div class="col">
          <div class="table-responsive p-2">
            <table class="table borderless" id="dttable" width="100%">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Nama</th>
                  <th>Kelompok</th>
                  <th>Peminatan</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for dosen in dosenlist %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{dosen.name}}</td>
                  <td>{{dosen.peminatan}}</td>
                  <td>{{dosen.kelompok}}</td>
                  <td class="d-flex align-items-center">
                    <form action="/api/delete-data" method="POST">
                      {% csrf_token %}
                      <input type="hidden" name="id" value="{{dosen.id}}" />
                      <button
                        class="btn btn-sm btn-primary mx-2"
                        name="data"
                        value="DOSEN"
                      >
                        Delete
                      </button>
                    </form>
                    <a class="btn btn-sm btn-danger" href="/data-dosen/edit/{{dosen.id}}"
                      >Edit</a
                    >
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
<script>
  $(document).ready(function () {
    $("#dttable").DataTable();
  });
</script>
{% endblock %}
