{% block main %}
<div class="row mb-3">
  <div class="col">
    <h1>Hasil Seleksi Peminatan</h1>
  </div>
</div>

<div class="row mb-4">
  <div class="col-xl-3 ml-auto d-flex justify-content-end">
    <select name="batch" class="mr-3 form-select" id="batch-select">
      <option value="{{latest.id}}">{{latest.batchnum}}</option>
      {% for batch in allbatch %}
      <option value="{{batch.id}}">{{batch.batchnum}}</option>
      {% endfor %}
    </select>
    {% if result %}
    <form action="/api/plotting" method="POST">
      {% csrf_token %}
      <button
        type="submit"
        class="btn btn-sm btn-primary px-3 py-2 d-flex align-items-center"
      >
        <i class="bx bxs-caret-right-square mr-2"></i>Export
      </button>
    </form>
    {% else %}
    <button
      class="btn btn-sm btn-secondary px-3 py-2 d-flex align-items-center"
      disabled
    >
      <i class="bx bxs-caret-right-square mr-2"></i>Export
    </button>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card p-4">
      <div class="row">
        <div class="col">
          <div class="table-responsive p-2">
            <table class="table borderless" id="tablehasil" width="100%">
              <thead>
                <tr>
                  <th>No</th>
                  <th>NIM</th>
                  <th>Nama</th>
                  <th>Pilihan 1</th>
                  <th>Skor Pilihan 1</th>
                  <th>Pilihan 2</th>
                  <th>Skor Pilihan 2</th>
                  <th>Peminatan</th>
                </tr>
              </thead>
              <tbody>
                {% for r in result %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{r.studentid.numberid}}</td>
                  <td>{{r.studentid.fullname}}</td>
                  <td>{{r.pilihan1.peminatanname}}</td>
                  <td>{{r.score1}}</td>
                  <td>{{r.pilihan2.peminatanname}}</td>
                  <td>{{r.score2}}</td>
                  <td>
                    <span class="font-weight-bold">
                      {{r.result.peminatanname}}
                    </span>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5 mb-3">
  <div class="col">
    <h1>Peminatan</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card p-4">
      <div class="row">
        <div class="col">
          <div class="table-responsive p-2">
            <table class="table borderless" id="tablepeminatan" width="100%">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Peminatan</th>
                  <th>Kuota</th>
                  <th>Jumlah Mahasiswa</th>
                </tr>
              </thead>
              <tbody>
                {% for p in peminatan %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{p.result}}</td>
                  <td>{{p.result__kuota}}</td>
                  <td>{{p.count}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
<script>
  $(document).ready(function () {
    $("#tablehasil").DataTable();
    $("#tablepeminatan").DataTable();
  });

  document.getElementById("batch-select").addEventListener("change", (e) => {
    window.location.href = `/hasil-seleksi/${e.target.value}`;
  });
</script>

{% endblock %}
