{% block nav %}
<nav class="nav" id="nav-bar">
  <div>
    <div class="nav__logo">
      <i class="bx bxs-binoculars nav__icon"></i>
      <span class="nav__logo-name">PIPE</span>
    </div>

    <div class="nav__list">
      <a href="/" class="nav__link active">
        <i class="bx bxs-home nav__icon"></i>
        <span class="nav__name">Dashboard</span>
      </a>

      <div class="dropmenu">
        <span href="#" class="nav__link dropdown__link">
          <i class="bx bxs-file-blank"></i> Master Data
          <i class="bx bx-chevron-down dropdown__icon"></i
        ></span>
        <ul class="dropdown__menu">
          <li class="dropdown__item">
            <a href="/data-mahasiswa" class="drop__link">Data Mahasiswa</a>
          </li>
          <li class="dropdown__item">
            <a href="/data-dosen" class="drop__link">Data Dosen</a>
          </li>
          <li class="dropdown__item">
            <a href="/data-peminatan" class="drop__link">Data Peminatan</a>
          </li>
          <li class="dropdown__item">
            <a href="/data-keprof" class="drop__link">Data Keprofesian</a>
          </li>
        </ul>
      </div>

      <div class="dropmenu">
        <span href="#" class="nav__link dropdown__link">
          <i class="bx bxs-group nav__icon"></i>
          Peminatan
          <i class="bx bx-chevron-down dropdown__icon"></i
        ></span>
        <ul class="dropdown__menu">
          <li class="dropdown__item">
            <a href="/seleksi-peminatan" class="drop__link"
              >Seleksi Peminatan</a
            >
          </li>
          <li class="dropdown__item">
            <a href="/penghitungan-nilai" class="drop__link"
              >Penghitungan Nilai</a
            >
          </li>
          <li class="dropdown__item">
            <a href="/hasil-seleksi" class="drop__link">Hasil Seleksi</a>
          </li>
        </ul>
      </div>

      <div class="dropmenu">
        <span href="#" class="nav__link dropdown__link">
          <i class="bx bxs-dashboard"></i> BI Dashboard
          <i class="bx bx-chevron-down dropdown__icon"></i
        ></span>
        <ul class="dropdown__menu">
          <li class="dropdown__item">
            <a href="/bi-dashboard" class="drop__link">Dashboard</a>
          </li>
          <li class="dropdown__item">
            <a href="/bi-dashboard/data" class="drop__link">Data</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <a href="/api/auth/logout" class="nav__link">
    <i class="bx bx-log-out nav__icon"></i>
    <span class="nav__name">Log Out</span>
  </a>
</nav>
{% endblock %}
