{% load static %} {% block main %} {% if dosen %}
<div class="row">
  <div class="col-xl-9 mx-auto col-md-12 col-sm-12">
    <h1>Update Data Dosen</h1>
  </div>
</div>
<div class="row mt-3">
  <div class="col-xl-9 mx-auto col-md-12 col-sm-12">
    <div class="card p-5">
      <div class="row">
        <div class="col">
          <form action="/api/update-data" method="POST">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{dosen.id}}" />
            <div class="form-group">
              <label for="name">Name</label>
              <input
                type="text"
                name="name"
                class="form-control"
                placeholder="Nama Dosen"
                value="{{dosen.name}}"
                required
              />
            </div>
            <div class="form-group">
              <label for="name">Kelompok Keahlian</label>
              <select
               name="kelompok"
               class="form-control"
               required>
              <option value="{{dosen.kelompok}}">SAAT INI : {{dosen.kelompok}}</option>
              <option value="CYBERNETICS">CYBERNETICS</option>
              <option value="EINS">EINS</option>
              </select>
            </div>
            <div class="form-group">
              <label for="name">Peminatan</label>
              <select
               name="peminatan"
               class="form-control"
               required>
              <option value="{{dosen.peminatan}}">SAAT INI : {{dosen.peminatan}}</option>
              <option value="EISD">EISD</option>
              <option value="EDE">EDE</option>
              <option value="SAG">SAG</option>
              <option value="ERP">ERP</option>
              <option value="EIM">EIM</option> 
              </select>
            </div>

            <button
              type="submit"
              class="submit-button mt-5"
              name="data"
              value="DOSEN"
            >
              <span>Update</span>
              <i class="bx bxs-chevrons-right"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% else %}

<div class="row">
  <div class="col-xl-9 mx-auto col-md-12 col-sm-12">
    <h1>Import Data Dosen</h1>
  </div>
</div>
<div class="row mt-3">
  <div class="col-xl-9 mx-auto col-md-12 col-sm-12">
    <div class="card p-5">
      <div class="row">
        <div class="col">
          <form
            action="/api/import-data"
            enctype="multipart/form-data"
            method="POST"
          >

           <div class="form-group">
           <span><b>Keterangan</b> : </span><span class="text-danger">Pastikan data Dosen yang akan diimport <b>BELUM ADA</b> di Tabel Data Dosen agar tidak terjadi Duplikasi Data</span>
           </div>

            {% csrf_token %}
            <div class="form-group">
              <label for="file">Data Dosen</label>
              <input type="file" name="file" class="form-control" required />
            </div>
            <div class="form-group">
              <a href="{% static 'assets/template/dosen.xlsx' %}"
                >Download Template</a
              >
            </div>

            <button
              type="submit"
              class="submit-button mt-5"
              name="data"
              value="DOSEN"
            >
              <span>Import Data</span>
              <i class="bx bxs-chevrons-right"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-xl-9 mx-auto col-md-12 col-sm-12">
    <h1>Tambah Data Dosen</h1>
  </div>
</div>
<div class="row mt-3">
  <div class="col-xl-9 mx-auto col-md-12 col-sm-12">
    <div class="card p-5">
      <div class="row">
        <div class="col">
          <form action="/api/insert-data" method="POST">

          <div class="form-group">
           <span><b>Keterangan</b> : </span><span class="text-danger">Pastikan data Dosen yang akan ditambahkan <b>BELUM ADA</b> di Tabel Data Dosen agar tidak terjadi Duplikasi Data</span>
          </div>

            {% csrf_token %}
            <div class="form-group">
              <label for="name">Name</label>
              <input
                type="text"
                name="name"
                class="form-control"
                placeholder="Nama Dosen"
                required
              />
            </div>
            <div class="form-group">
              <label for="name">Kelompok Keahlian</label>
              <select
               name="kelompok"
               class="form-control"
               required>
              <option value="">Pilih Kelompok Keahlian</option>
              <option value="CYBERNETICS">CYBERNETICS</option>
              <option value="EINS">EINS</option>
              </select>
            </div>
            <div class="form-group">
              <label for="name">Peminatan</label>
              <select
               name="peminatan"
               class="form-control"
               required>
              <option value="">Pilih Peminatan</option>
              <option value="EISD">EISD</option>
              <option value="EDE">EDE</option>
              <option value="SAG">SAG</option>
              <option value="ERP">ERP</option>
              <option value="EIM">EIM</option> 
              </select>
            </div>


            <button
              type="submit"
              class="submit-button mt-5"
              name="data"
              value="DOSEN"
            >
              <span>Tambah</span>
              <i class="bx bxs-chevrons-right"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endif %} {% endblock %}
