{% load static %} {% block main %} {% if keprof %}
<div class="row">
  <div class="col-xl-9 mx-auto col-md-12 col-sm-12">
    <h1>Update Keprofesian</h1>
  </div>
</div>
<div class="row mt-3">
  <div class="col-xl-9 mx-auto col-md-12 col-sm-12">
    <div class="card p-5">
      <div class="row">
        <div class="col">
          <form action="/api/update-data" method="POST">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{keprof.id}}" />
            <div class="form-group">
              <label for="name">NIM</label>
              <input
                type="text"
                name="nim"
                class="form-control"
                placeholder="NIM"
                value="{{keprof.nim}}"
                required
              />
            </div>
            <div class="form-group">
              <label for="name">Nama Mahasiswa</label>
              <input
                type="text"
                name="name"
                class="form-control"
                placeholder="Nama Mahasiswa"
                value="{{keprof.name}}"
                required
              />
            </div>
            <div class="form-group">
              <label for="keprofesian">Keprofesian</label>
              <select
               name="keprofesian"
               class="form-control"
               required>
              <option value="{{keprof.keprof}}">SAAT INI : {{keprof.keprof}}</option>
              <option value="EISD">EISD</option>
              <option value="EDE">EDE</option>
              <option value="SAG">SAG</option>
              <option value="ERP">ERP</option>
              <option value="EIM">EIM</option> 
              </select>
            </div>

            <div class="form-group">
              <label for="keprofesian">Kategori</label>
              <select
               name="kategori"
               class="form-control"
               required>
              <option value="{{keprof.kategori}}">SAAT INI : {{keprof.kategori}}</option>
              <option value="KORDAS">KORDAS</option>
              <option value="ASISTEN">ASISTEN</option>
              <option value="ANGGOTA">ANGGOTA</option>
              </select>
            </div>

            <button
              type="submit"
              class="submit-button mt-5"
              name="data"
              value="KEPROF"
            >
              <span>Update</span>
              <i class="bx bxs-chevrons-right"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% else %}

<div class="row">
  <div class="col-xl-9 mx-auto col-md-12 col-sm-12">
    <h1>Import Data Keprofesian</h1>
  </div>
</div>
<div class="row mt-3">
  <div class="col-xl-9 mx-auto col-md-12 col-sm-12">
    <div class="card p-5">
      <div class="row">
        <div class="col">
          <form
            action="/api/import-data"
            enctype="multipart/form-data"
            method="POST"
          >

          <div class="form-group">
           <span><b>Keterangan</b> : </span><span class="text-danger">Pastikan data Keprofesian yang akan diimport <b>BELUM ADA</b> di Tabel Data Keprofesian agar tidak terjadi Duplikasi Data</span>
           <br><br>
           <span><b>Kategori</b> : KORDAS / ASISTEN / ANGGOTA</span>
          </div>

            {% csrf_token %}
            <div class="form-group">
              <label for="file">Data Keprofesian</label>
              <input type="file" name="file" class="form-control" required />
            </div>
            <div class="form-group">
              <a href="{% static 'assets/template/keprof.xlsx' %}"
                >Download Template</a
              >
            </div>

            <button
              type="submit"
              class="submit-button mt-5"
              name="data"
              value="KEPROF"
            >
              <span>Import Data</span>
              <i class="bx bxs-chevrons-right"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-xl-9 mx-auto col-md-12 col-sm-12">
    <h1>Tambah Keprofesian</h1>
  </div>
</div>
<div class="row mt-3">
  <div class="col-xl-9 mx-auto col-md-12 col-sm-12">
    <div class="card p-5">
      <div class="row">
        <div class="col">
          <form action="/api/insert-data" method="POST">

          <div class="form-group">
           <span><b>Keterangan</b> : </span><span class="text-danger">Pastikan data Keprofesian yang akan ditambahkan <b>BELUM ADA</b> di Tabel Data Keprofesian agar tidak terjadi Duplikasi Data</span>
          </div>

            {% csrf_token %}
            <div class="form-group">
              <label for="name">NIM</label>
              <input
                type="text"
                name="nim"
                class="form-control"
                placeholder="NIM"
                required
              />
            </div>
            <div class="form-group">
              <label for="name">Nama Mahasiswa</label>
              <input
                type="text"
                name="name"
                class="form-control"
                placeholder="Nama Mahasiswa"
                required
              />
            </div>
            <div class="form-group">
              <label for="keprofesian">Keprofesian</label>
              <select
               name="keprofesian"
               class="form-control"
               required>
              <option value="">Pilih Keprofesian</option>
              <option value="EISD">EISD</option>
              <option value="EDE">EDE</option>
              <option value="SAG">SAG</option>
              <option value="ERP">ERP</option>
              <option value="EIM">EIM</option> 
              </select>
            </div>

            <div class="form-group">
              <label for="keprofesian">Kategori</label>
              <select
               name="kategori"
               class="form-control"
               required>
              <option value="">Pilih Kategori</option>
              <option value="KORDAS">KORDAS</option>
              <option value="ASISTEN">ASISTEN</option>
              <option value="ANGGOTA">ANGGOTA</option>
              </select>
            </div>

            <button
              type="submit"
              class="submit-button mt-5"
              name="data"
              value="KEPROF"
            >
              <span>Tambah</span>
              <i class="bx bxs-chevrons-right"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endif %} {% endblock %}
