{% load static %} {% block main %} {% if peminatan %}
<div class="row">
  <div class="col-xl-9 mx-auto col-md-12 col-sm-12">
    <h1>Update Peminatan</h1>
  </div>
</div>
<div class="row mt-3">
  <div class="col-xl-9 mx-auto col-md-12 col-sm-12">
    <div class="card p-5">
      <div class="row">
        <div class="col">
          <form action="/api/update-data" method="POST">
            {% csrf_token %}
            <input
              type="hidden"
              name="id"
              value="{{peminatan.peminatancode}}"
            />
            <div class="form-group">
              <label for="name">Kode Peminatan</label>
              <input
                type="text"
                name="kodepeminatan"
                class="form-control"
                placeholder="Kode Peminatan"
                value="{{peminatan.peminatancode}}"
                required
                disabled
              />
            </div>
            <div class="form-group">
              <label for="name">Nama Peminatan</label>
              <input
                type="text"
                name="namapeminatan"
                class="form-control"
                placeholder="Nama Peminatan"
                value="{{peminatan.peminatanname}}"
                required
              />
            </div>
            <div class="form-group">
              <label for="kelompokkeahlian">Kelompok Keahlian</label>
              <select
               name="kelompokkeahlian"
               class="form-control"
               required>
              <option value="{{peminatan.kelompokkeahlian}}">SAAT INI : {{peminatan.kelompokkeahlian}}</option>
              <option value="CYBERNETICS">CYBERNETICS</option>
              <option value="EINS">EINS</option>
              </select>
            </div>
            <div class="form-group">
              <label for="kelompokkeahlian">Kuota</label>
              <input
                type="text"
                name="kuota"
                class="form-control"
                placeholder="Kuota Peminatan"
                value="{{peminatan.kuota}}"
                required
              />
            </div>

            <button
              type="submit"
              class="submit-button mt-5"
              name="data"
              value="PEMINATAN"
            >
              <span>Update</span>
              <i class="bx bxs-chevrons-right"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% else %}

<div class="row">
  <div class="col-xl-9 mx-auto col-md-12 col-sm-12">
    <h1>Import Data Peminatan</h1>
  </div>
</div>
<div class="row mt-3">
  <div class="col-xl-9 mx-auto col-md-12 col-sm-12">
    <div class="card p-5">
      <div class="row">
        <div class="col">
          <form
            action="/api/import-data"
            enctype="multipart/form-data"
            method="POST"
          >

          <div class="form-group">
           <span><b>Keterangan</b> : </span><span class="text-danger">Pastikan data Peminatan yang akan diimport <b>BELUM ADA</b> di Tabel Data Peminatan agar tidak terjadi Duplikasi Data</span>
          </div>

            {% csrf_token %}
            <div class="form-group">
              <label for="file">Data Peminatan</label>
              <input type="file" name="file" class="form-control" required />
            </div>
            <div class="form-group">
              <a href="{% static 'assets/template/peminatan.xlsx' %}"
                >Download Template</a
              >
            </div>

            <button
              type="submit"
              class="submit-button mt-5"
              name="data"
              value="PEMINATAN"
            >
              <span>Import Data</span>
              <i class="bx bxs-chevrons-right"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-xl-9 mx-auto col-md-12 col-sm-12">
    <h1>Tambah Peminatan</h1>
  </div>
</div>
<div class="row mt-3">
  <div class="col-xl-9 mx-auto col-md-12 col-sm-12">
    <div class="card p-5">
      <div class="row">
        <div class="col">
          <form action="/api/insert-data" method="POST">

          <div class="form-group">
           <span><b>Keterangan</b> : </span><span class="text-danger">Pastikan data Peminatan yang akan ditambahkan <b>BELUM ADA</b> di Tabel Data Peminatan agar tidak terjadi Duplikasi Data</span>
          </div>

            {% csrf_token %}
            <div class="form-group">
              <label for="name">Kode Peminatan</label>
              <input
                type="text"
                name="kodepeminatan"
                class="form-control"
                placeholder="Kode Peminatan"
                required
              />
            </div>
            <div class="form-group">
              <label for="name">Nama Peminatan</label>
              <input
                type="text"
                name="namapeminatan"
                class="form-control"
                placeholder="Nama Peminatan"
                required
              />
            </div>
            <div class="form-group">
              <label for="kelompokkeahlian">Kelompok Keahlian</label>
              <select
               name="kelompokkeahlian"
               class="form-control"
               required>
              <option value="">Pilih Kelompok Keahlian</option>
              <option value="CYBERNETICS">CYBERNETICS</option>
              <option value="EINS">EINS</option>
              </select>
            </div>
            <div class="form-group">
              <label for="kelompokkeahlian">Kuota</label>
              <input
                type="text"
                name="kuota"
                class="form-control"
                placeholder="Kuota Peminatan"
                required
              />
            </div>

            <button
              type="submit"
              class="submit-button mt-5"
              name="data"
              value="PEMINATAN"
            >
              <span>Tambah</span>
              <i class="bx bxs-chevrons-right"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endif %} {% endblock %}
