{% load static %} 
{% block main %} {% if dosen %}
<div class="row">
  <div class="col-xl-9 mx-auto col-md-12 col-sm-12">
    <h1>Tambah Dosen</h1>
  </div>
</div>
<div class="row mt-3">
  <div class="col-xl-9 mx-auto col-md-12 col-sm-12">
    <div class="card p-5">
      <div class="row">
        <div class="col">
          <form action="/api/update-data" method="POST">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{dosen.id}}" />
            <div class="form-group">
              <label for="name">Name</label>
              <input
                type="text"
                name="name"
                class="form-control"
                placeholder="Nama Dosen"
                value="{{dosen.name}}"
              />
            </div>
            <div class="form-group">
              <label for="name">Kelompok Keahlian</label>
              <input
                type="text"
                name="kelompok"
                class="form-control"
                placeholder="Kelompok Keahlian"
                value="{{dosen.kelompok}}"
              />
            </div>
            <div class="form-group">
              <label for="name">Peminatan</label>
              <input
                type="text"
                name="peminatan"
                class="form-control"
                placeholder="Peminatan"
                value="{{dosen.peminatan}}"
              />
            </div>

            <button
              type="submit"
              class="submit-button mt-5"
              name="data"
              value="DOSEN"
            >
              <span>Update</span>
              <i class="bx bxs-chevrons-right"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% else %}

<div class="row">
  <div class="col-xl-9 mx-auto col-md-12 col-sm-12">
    <h1>Tambah Dosen</h1>
  </div>
</div>
<div class="row mt-3">
  <div class="col-xl-9 mx-auto col-md-12 col-sm-12">
    <div class="card p-5">
      <div class="row">
        <div class="col">
          <form
            action="/api/import-data"
            enctype="multipart/form-data"
            method="POST"
          >
            {% csrf_token %}
            <div class="form-group">
              <input type="file" name="file" class="form-control" />
            </div>
            <div class="form-group">
              <a href="{% static 'assets/template/dosen.xlsx' %}">Download Template</a>
            </div>

            <button
              type="submit"
              class="submit-button mt-5"
              name="data"
              value="DOSEN"
            >
              <span>Import Data</span>
              <i class="bx bxs-chevrons-right"></i>
            </button>
          </form>
          <p class="br my-5"><span>or</span></p>

          <form action="/api/insert-data" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="name">Name</label>
              <input
                type="text"
                name="name"
                class="form-control"
                placeholder="Nama Dosen"
              />
            </div>
            <div class="form-group">
              <label for="name">Kelompok Keahlian</label>
              <input
                type="text"
                name="kelompok"
                class="form-control"
                placeholder="Kelompok Keahlian"
              />
            </div>
            <div class="form-group">
              <label for="name">Peminatan</label>
              <input
                type="text"
                name="peminatan"
                class="form-control"
                placeholder="Peminatan"
              />
            </div>

            <button
              type="submit"
              class="submit-button mt-5"
              name="data"
              value="DOSEN"
            >
              <span>Tambah</span>
              <i class="bx bxs-chevrons-right"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endif %} {% endblock %}
