{% load static %} {% block main %} {% if nilai %}
<div class="row">
  <div class="col-xl-9 mx-auto col-md-12 col-sm-12">
    <h1>Update Nilai Mahasiswa</h1>
  </div>
</div>
<div class="row mt-3">
  <div class="col-xl-9 mx-auto col-md-12 col-sm-12">
    <div class="card p-5">
      <div class="row">
        <div class="col">
          <form action="/api/update-data" method="POST">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{nilai.id}}" />
            <div class="form-group">
              <label for="name">NIM</label>
              <input
                type="text"
                name="nim"
                class="form-control"
                placeholder="NIM Mahasiswa"
                value="{{nilai.nim}}"
                required
              />
            </div>
            <div class="form-group">
              <label for="name">Nama</label>
              <input
                type="text"
                name="name"
                class="form-control"
                placeholder="Nama Mahasiswa"
                value="{{nilai.name}}"
                required
              />
            </div>
            <div class="form-group">
              <label for="rpb">RPB</label>
              <input
                type="text"
                name="rpb"
                class="form-control"
                placeholder="Nilai RPB"
                value="{{nilai.rpb}}"
                required
              />
            </div>
            <div class="form-group">
              <label for="probstat">PROBSTAT</label>
              <input
                type="text"
                name="probstat"
                class="form-control"
                placeholder="Nilai PROBSTAT"
                value="{{nilai.probstat}}"
                required
              />
            </div>
            <div class="form-group">
              <label for="basdat">BASDAT</label>
              <input
                type="text"
                name="basdat"
                class="form-control"
                placeholder="Nilai BASDAT"
                value="{{nilai.basdat}}"
                required
              />
            </div>
            <div class="form-group">
              <label for="dwbi">DWBI</label>
              <input
                type="text"
                name="dwbi"
                class="form-control"
                placeholder="Nilai DWBI"
                value="{{nilai.dwbi}}"
                required
              />
            </div>
            <div class="form-group">
              <label for="oop">OOP</label>
              <input
                type="text"
                name="oop"
                class="form-control"
                placeholder="Nilai OOP"
                value="{{nilai.oop}}"
                required
              />
            </div>
            <div class="form-group">
              <label for="apsi">APSI</label>
              <input
                type="text"
                name="apsi"
                class="form-control"
                placeholder="Nilai APSI"
                value="{{nilai.apsi}}"
                required
              />
            </div>
            <div class="form-group">
              <label for="alpro">ALPRO</label>
              <input
                type="text"
                name="alpro"
                class="form-control"
                placeholder="Nilai ALPRO"
                value="{{nilai.alpro}}"
                required
              />
            </div>
            <div class="form-group">
              <label for="web">WEB</label>
              <input
                type="text"
                name="web"
                class="form-control"
                placeholder="Nilai WEB"
                value="{{nilai.web}}"
                required
              />
            </div>
            <div class="form-group">
              <label for="ea">EA</label>
              <input
                type="text"
                name="ea"
                class="form-control"
                placeholder="Nilai EA"
                value="{{nilai.ea}}"
                required
              />
            </div>
            <div class="form-group">
              <label for="manlay">MANLAY</label>
              <input
                type="text"
                name="manlay"
                class="form-control"
                placeholder="Nilai MANLAY"
                value="{{nilai.manlay}}"
                required
              />
            </div>
            <div class="form-group">
              <label for="se">SE</label>
              <input
                type="text"
                name="se"
                class="form-control"
                placeholder="Nilai SE"
                value="{{nilai.se}}"
                required
              />
            </div>
            <div class="form-group">
              <label for="scm">SCM</label>
              <input
                type="text"
                name="scm"
                class="form-control"
                placeholder="Nilai SCM"
                value="{{nilai.scm}}"
                required
              />
            </div>
            <div class="form-group">
              <label for="akuntansi">AKUNTANSI</label>
              <input
                type="text"
                name="akuntansi"
                class="form-control"
                placeholder="Nilai AKUNTANSI"
                value="{{nilai.akuntansi}}"
                required
              />
            </div>
            <div class="form-group">
              <label for="manprosi">MANPROSI</label>
              <input
                type="text"
                name="manprosi"
                class="form-control"
                placeholder="Nilai MANPROSI"
                value="{{nilai.manprosi}}"
                required
              />
            </div>
            <div class="form-group">
              <label for="desjar">DESJAR</label>
              <input
                type="text"
                name="desjar"
                class="form-control"
                placeholder="Nilai DESJAR"
                value="{{nilai.desjar}}"
                required
              />
            </div>
            <div class="form-group">
              <label for="manjarkom">MANJARKOM</label>
              <input
                type="text"
                name="manjarkom"
                class="form-control"
                placeholder="Nilai MANJARKOM"
                value="{{nilai.manjarkom}}"
                required
              />
            </div>
            <div class="form-group">
              <label for="sisop">SISOP</label>
              <input
                type="text"
                name="sisop"
                class="form-control"
                placeholder="Nilai SISOP"
                value="{{nilai.sisop}}"
                required
              />
            </div>
            <div class="form-group">
              <label for="ksi">KSI</label>
              <input
                type="text"
                name="ksi"
                class="form-control"
                placeholder="Nilai KSI"
                value="{{nilai.ksi}}"
                required
              />
            </div>

            <button
              type="submit"
              class="submit-button mt-5"
              name="data"
              value="NILAI"
              required
            >
              <span>Update</span>
              <i class="bx bxs-chevrons-right"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% else %}

<div class="row">
  <div class="col-xl-9 mx-auto col-md-12 col-sm-12">
    <h1>Import Nilai Mahasiswa</h1>
  </div>
</div>
<div class="row mt-3">
  <div class="col-xl-9 mx-auto col-md-12 col-sm-12">
    <div class="card p-5">
      <div class="row">
        <div class="col">
          <form
            action="/api/import-data"
            enctype="multipart/form-data"
            method="POST"
          >
          
          <div class="form-group">
           <p><b>Keterangan</b> :</p>
           <ol type="1">
           <li><p style="color: red">Pastikan data Nilai Mahasiswa yang akan diimport <b>BELUM ADA</b> di Tabel Data Mahasiswa agar tidak terjadi Duplikasi Data</p></li>  
           <li><p>Format pengisian Nilai yaitu dengan rentang angka 0 hingga 4 apabila terdapat koma (,) maka pengisian menggunakan titik (.) </p>
           <p><b>Contoh : 3.5</b></p></li>
           </li>
           </div>

            {% csrf_token %}
            <div class="form-group">
              <input type="file" name="file" class="form-control" required />
            </div>

            <div class="form-group">
              <a href="{% static 'assets/template/nilaimahasiswa.xlsx' %}"
                >Download Template</a
              >
            </div>

            <button
              type="submit"
              class="submit-button mt-5"
              name="data"
              value="NILAI"
            >
              <span>Import Data</span>
              <i class="bx bxs-chevrons-right"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-xl-9 mx-auto col-md-12 col-sm-12">
    <h1>Tambah Nilai Mahasiswa</h1>
  </div>
</div>
<div class="row mt-3">
  <div class="col-xl-9 mx-auto col-md-12 col-sm-12">
    <div class="card p-5">
      <div class="row">
        <div class="col">
          <form action="/api/insert-data" method="POST">

          <div class="form-group">
           <p><b>Keterangan</b> :</p>
           <ol type="1">
           <li><p style="color: red">Pastikan data Nilai Mahasiswa yang akan ditambahkan <b>BELUM ADA</b> di Tabel Data Mahasiswa agar tidak terjadi Duplikasi Data</p></li>  
           <li><p>Format pengisian Nilai yaitu dengan rentang angka 0 hingga 4 apabila terdapat koma (,) maka pengisian menggunakan titik (.) </p>
           <p><b>Contoh : 3.5</b></p></li>
           </li>
          </ol>
          </div>
         

            {% csrf_token %}
            <div class="form-group">
              <label for="name">NIM</label>
              <input
                type="text"
                name="nim"
                class="form-control"
                placeholder="NIM Mahasiswa"
                required
              />
            </div>
            <div class="form-group">
              <label for="name">Nama</label>
              <input
                type="text"
                name="name"
                class="form-control"
                placeholder="Nama Mahasiswa"
                required
              />
            </div>
            <div class="form-group">
              <label for="rpb">RPB</label>
              <input
                type="text"
                name="rpb"
                class="form-control"
                placeholder="Nilai RPB"
                required
              />
            </div>
            <div class="form-group">
              <label for="probstat">PROBSTAT</label>
              <input
                type="text"
                name="probstat"
                class="form-control"
                placeholder="Nilai PROBSTAT"
                required
              />
            </div>
            <div class="form-group">
              <label for="basdat">BASDAT</label>
              <input
                type="text"
                name="basdat"
                class="form-control"
                placeholder="Nilai BASDAT"
                required
              />
            </div>
            <div class="form-group">
              <label for="dwbi">DWBI</label>
              <input
                type="text"
                name="dwbi"
                class="form-control"
                placeholder="Nilai DWBI"
                required
              />
            </div>
            <div class="form-group">
              <label for="oop">OOP</label>
              <input
                type="text"
                name="oop"
                class="form-control"
                placeholder="Nilai OOP"
                required
              />
            </div>
            <div class="form-group">
              <label for="apsi">APSI</label>
              <input
                type="text"
                name="apsi"
                class="form-control"
                placeholder="Nilai APSI"
                required
              />
            </div>
            <div class="form-group">
              <label for="alpro">ALPRO</label>
              <input
                type="text"
                name="alpro"
                class="form-control"
                placeholder="Nilai ALPRO"
                required
              />
            </div>
            <div class="form-group">
              <label for="web">WEB</label>
              <input
                type="text"
                name="web"
                class="form-control"
                placeholder="Nilai WEB"
                required
              />
            </div>
            <div class="form-group">
              <label for="ea">EA</label>
              <input
                type="text"
                name="ea"
                class="form-control"
                placeholder="Nilai EA"
                required
              />
            </div>
            <div class="form-group">
              <label for="manlay">MANLAY</label>
              <input
                type="text"
                name="manlay"
                class="form-control"
                placeholder="Nilai MANLAY"
                required
              />
            </div>
            <div class="form-group">
              <label for="se">SE</label>
              <input
                type="text"
                name="se"
                class="form-control"
                placeholder="Nilai SE"
                required
              />
            </div>
            <div class="form-group">
              <label for="scm">SCM</label>
              <input
                type="text"
                name="scm"
                class="form-control"
                placeholder="Nilai SCM"
                required
              />
            </div>
            <div class="form-group">
              <label for="akuntansi">AKUNTANSI</label>
              <input
                type="text"
                name="akuntansi"
                class="form-control"
                placeholder="Nilai AKUNTANSI"
                required
              />
            </div>
            <div class="form-group">
              <label for="manprosi">MANPROSI</label>
              <input
                type="text"
                name="manprosi"
                class="form-control"
                placeholder="Nilai MANPROSI"
                required
              />
            </div>
            <div class="form-group">
              <label for="desjar">DESJAR</label>
              <input
                type="text"
                name="desjar"
                class="form-control"
                placeholder="Nilai DESJAR"
                required
              />
            </div>
            <div class="form-group">
              <label for="manjarkom">MANJARKOM</label>
              <input
                type="text"
                name="manjarkom"
                class="form-control"
                placeholder="Nilai MANJARKOM"
                required
              />
            </div>
            <div class="form-group">
              <label for="sisop">SISOP</label>
              <input
                type="text"
                name="sisop"
                class="form-control"
                placeholder="Nilai SISOP"
                required
              />
            </div>
            <div class="form-group">
              <label for="ksi">KSI</label>
              <input
                type="text"
                name="ksi"
                class="form-control"
                placeholder="Nilai KSI"
                required
              />
            </div>

            <button
              type="submit"
              class="submit-button mt-5"
              name="data"
              value="NILAI"
            >
              <span>Tambah</span>
              <i class="bx bxs-chevrons-right"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %} {% endblock %}
