{% load static %} {% block main %}
<div class="row mb-3">
  <div class="col-md-2 mx-auto d-flex justify-content-between">
    <a href="/bi-dashboard" class="t-link">Overview</a>
    <a href="/bi-dashboard/peminatan" class="t-link t-active">Peminatan</a>
    <a href="/bi-dashboard/nilai" class="t-link">Nilai</a>
  </div>
</div>

<div class="row mb-3">
  <div class="col-xl-5 ml-auto d-flex justify-content-end">
    <div class="form-group d-inline mr-3">
      <select name="angkatan" id="" class="form-select pr-5">
        <option value="EISD" id="angkatan">2017</option>
      </select>
    </div>
    <div class="form-group d-inline">
      <select name="peminatan" id="peminatan" class="form-select pr-5">
        <option value="EISD">EISD</option>
        <option value="EDE">EDE</option>
        <option value="SAG">SAG</option>
        <option value="ERP">ERP</option>
        <option value="EIM">EIM</option>
      </select>
    </div>
  </div>
</div>
<!-- peminatan -->

<div class="container">
  <div class="row">
    <div class="col-xl-4 col-md-12 col-sm-12 ml-auto">
      <div class="row">
        <div class="col">
          <div class="card py-4 px-5">
            <div class="row">
              <div class="col">
                <h2>Pemenuhan Kuota</h2>
              </div>
            </div>
            <div class="row mt-3 py-4 p-relative">
              <p class="position-absolute middle" id="pemenuhan-number">50%</p>
              <canvas id="pemenuhan" height="200px"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4 mb-4">
        <div class="col">
          <div class="card py-4 px-5 position-relative">
            <div class="row">
              <div class="col">
                <h2>Rata-rata Mahasiswa Bimbingan Per Dosen</h2>
              </div>
            </div>
            <div class="row">
              <div class="col d-flex justify-content-center">
                <p id="ratio" class="medium"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-md-12 col-sm 12 mr-auto">
      <div class="card py-4 px-5" style="height: 39rem">
        <div class="row">
          <div class="col">
            <h2>Jumlah Mahasiswa Terhadap Kuota</h2>
          </div>
        </div>
        <div class="row" style="height: 100%">
          <div class="col" style="height: 100%">
            <canvas id="mahasiswakuota" height="100%"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.0.0-rc.1/chartjs-plugin-datalabels.min.js"></script>
<script src="{% static 'assets/js/chartpeminatan.js' %}"></script>

{% endblock %}
