{% load static %} {% block main %}
<div class="row mb-3">
  <div class="col-md-2 mx-auto d-flex justify-content-between">
    <a href="/bi-dashboard" class="t-link">Overview</a>
    <a href="/bi-dashboard/peminatan" class="t-link t-active">Peminatan</a>
    <a href="/bi-dashboard/nilai" class="t-link">Nilai</a>
  </div>
</div>

<div class="row mb-3">
  <div class="col-xl-5 ml-auto d-flex justify-content-end">
    <div class="form-group d-inline mr-3">
      <select name="angkatan" id="" class="form-select pr-5">
        <option value="EISD" id="angkatan">2017</option>
      </select>
    </div>
    <div class="form-group d-inline">
      <select name="peminatan" id="peminatan" class="form-select pr-5">
        <option value="EISD">EISD</option>
        <option value="EDE">EDE</option>
        <option value="SAG">SAG</option>
        <option value="ERP">ERP</option>
        <option value="EIM">EIM</option>
      </select>
    </div>
  </div>
</div>
<!-- peminatan -->

<div id="content">
  <div class="row mt-5">
    <div class="col d-flex justify-content-center">
      <img src="{% static 'assets/img/loading.gif' %}" alt="loading" />
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.0.0-rc.1/chartjs-plugin-datalabels.min.js"></script>
<script src="{% static 'assets/js/chartpeminatan.js' %}"></script>

{% endblock %}
