{% load static %} {% block main %}
<div class="row mb-3">
  <div class="col">
    <h1>Pindah Peminatan</h1>
  </div>
</div>
<div class="row">
  <div class="col-xl-7 col-md-12 col-sm-12">
    <div class="card pengajuan-card p-4">
      <div class="row">
        <div class="col d-flex flex-column">
          <h2>Pengajuan Pindah Peminatan</h2>
          <form
            action="/api/pindah-peminatan"
            method="POST"
            onsubmit="submission(event)"
          >
            {% csrf_token %}
            <span><b>Keterangan</b> : </span><span class="text-danger">Mahasiswa yang dapat dipindahkan maksimal <b>10</b> mahasiswa. </span>
            <div class="form-group" style="width: 100%">
              <label for="mahasiswadua">Mahasiswa yang ingin dipindahkan</label>
              {% if user.peminatan %}
              <input
              type="text"
              name="mahasiswa"
              id="myAutocomplete"
              class="form-control"
              autocomplete="off"
              placeholder="Nama Mahasiswa"
              style="width: 100%"
              required
              />
            </div>
            
            <button type="submit" class="submit-button">
              <span>Pindahkan</span>
              <i class="bx bxs-chevrons-right"></i>
            </button>
            {% else %}
            <input
            type="text"
            class="form-control"
            placeholder="Nama Mahasiswa"
            style="width: 100%"
            disabled
            />
          </div>
          
          <button type="submit" class="submit-button btn-secondary" disabled>
            <span>Pindahkan</span>
            <i class="bx bxs-chevrons-right"></i>
          </button>

            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-5 col-md-12 col-sm-12 mt-4 mt-sm mt-xl-0">
    <div class="card pengajuan__process p-4">
      <div class="row">
        <div class="col">
          <h2>Mahasiswa yang telah dipindahkan</h2>

        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="table-responsive p-2">
            <table class="table borderless" id="tablemahasiswa" width="100%">
              <thead>
                <tr>
                  <th>No</th>
                  <th>NIM</th>
                  <th>Nama</th>
                </tr>
              </thead>
              <tbody>
                {% for m in mahasiswa %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{m.studentid.numberid}}</td>
                  <td>{{m.studentid.fullname}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'assets/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap-4-autocomplete/dist/bootstrap-4-autocomplete.min.js"
  crossorigin="anonymous"
></script>
<script>
  $(document).ready(function () {
     $("#tablemahasiswa").DataTable();
   });

   const src = {{userdata|safe}};

   $("#myAutocomplete").autocomplete({
     source: src,
     highlightClass: "text-danger",
     treshold: 1,
   });

   function submission(e) {
     document.getElementById('myAutocomplete').value = {{userdata|safe}}[document.getElementById("myAutocomplete").value]
   }
</script>

{% endblock %}
