{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PIPE | Page Not Found</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="row overflow-hidden w-100">
      <div
        style="height: 100vh"
        class="col d-flex justify-content-center align-items-center flex-column"
      >
        <div class="img">
          <img src="{% static '/assets/img/403.png' %}" alt="" />
        </div>
        <h2 class="mt-5">403 | Permission Denied</h2>
        <p class="mt-2">You are not allowed to open this page.</p>
      </div>
    </div>
  </body>
</html>
